# Bonus: Temperature Analysis I

In [89]:
import pandas as pd
from datetime import datetime as dt

In [90]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [91]:
# Convert the date column format from string to datetime
df['date'] =  pd.to_datetime(df['date'], format='%Y-%m-%d')
df

           station       date  prcp  tobs
0      USC00519397 2010-01-01  0.08    65
1      USC00519397 2010-01-02  0.00    63
2      USC00519397 2010-01-03  0.00    74
3      USC00519397 2010-01-04  0.00    76
4      USC00519397 2010-01-06   NaN    73
...            ...        ...   ...   ...
19545  USC00516128 2017-08-19  0.09    71
19546  USC00516128 2017-08-20   NaN    78
19547  USC00516128 2017-08-21  0.56    76
19548  USC00516128 2017-08-22  0.50    76
19549  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

In [92]:
# Set the date column as the DataFrame index
# Drop the date column
new_df = df.set_index('date', drop=True)

### Compare June and December data across all years

In [99]:
from scipy import stats

In [107]:
# Filter data for desired months
new_df
new_df['month'] = new_df.index.month
# new_df['month'] = pd.DatetimeIndex(new_df['date']).month
new_df

# extract june dates
june_df = new_df[new_df['month'] == 6]
june_df
december_df = new_df[new_df['month'] == 12]
december_df

                station  prcp  tobs  month
date
2010-12-01  USC00519397  0.04    76     12
2010-12-03  USC00519397  0.00    74     12
2010-12-04  USC00519397  0.00    74     12
2010-12-06  USC00519397  0.00    64     12
2010-12-07  USC00519397  0.00    64     12
...                 ...   ...   ...    ...
2016-12-27  USC00516128  0.14    71     12
2016-12-28  USC00516128  0.14    71     12
2016-12-29  USC00516128  1.03    69     12
2016-12-30  USC00516128  2.37    65     12
2016-12-31  USC00516128  0.90    65     12

[1517 rows x 4 columns]

In [111]:
# Identify the average temperature for June
june_avg = june_df.groupby('station').mean()['tobs']
june_avg

station
USC00511918    74.139394
USC00513117    74.050847
USC00514830    76.005376
USC00516128    71.937220
USC00517948    76.655405
USC00518838    73.394737
USC00519281    73.271186
USC00519397    77.559322
USC00519523    76.668103
Name: tobs, dtype: float64

In [112]:
# Identify the average temperature for December
december_avg = december_df.groupby('station').mean()['tobs']
december_avg

station
USC00511918    69.684211
USC00513117    71.069444
USC00514830    73.224719
USC00516128    69.291262
USC00517948    71.834862
USC00518838    72.421053
USC00519281    69.903226
USC00519397    71.109524
USC00519523    72.433333
Name: tobs, dtype: float64

In [ ]:
# Create collections of temperature data

In [113]:
# Run paired t-test
stats.ttest_rel(december_avg, june_avg)

Ttest_relResult(statistic=-6.95696617044294, pvalue=0.00011759380231523222)

### Analysis